@charset "UTF-8";
@import "variables";

.cart {
    padding: $space_5 0 0 0;
    width: 100%;

    h2 {
        font-weight: 100;
        margin-bottom: $space_2;
    }

    .cart-item {
        margin-top: $space_4;

        .content {
            background: rgba(255,255,255,0.75);
            width: 100%;
            padding: $space_4;
            
            @media (min-width: $screen_medium) {
                width: 90%;
            }

            .image {
                width: 10%;
                height: auto;
                min-width: 60px;
                margin: auto auto auto 0;

                img {
                    width: 100%;
                    height: auto;
                    overflow: hidden;
                    line-height: 1;
                }
                
                @media (max-width: $screen_xs) {
                    display: none;
                }
            }

            .title {
                width: 50%;
                margin: auto auto auto $space_4;

                strong {
                    font-weight: 600;
                }

                .sku {
                    display: block;
                    font-size: 75%;
                    opacity: 0.6;
                }
            }

            .quantity {
                width: 20%;
                max-width: 75px;
                margin: auto $space_4 auto $space_4;

                input {
                    width: 100%;
                    border: solid 1px $washed-white;
                    padding: $space_2;
                    text-align: center;

                    -moz-appearance: textfield;

                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }
            }

            .price {
                font-weight: 600;
                margin: auto 0 auto auto;
                padding-left: 1rem;
            }
        }

        .rfc {
            margin: auto;
            color: $grey;
            font-size: $space_3;
            display: none;

            &:hover {
                color: $dark-grey;
            }

            @media (min-width: $screen_medium) {
                display: block;
            }
        }
    }
}

.cart-totals {
    padding: $space_5 $space_2;

    .back {
        color: $light-grey;
        margin: auto 0;
        display: block;

        &:hover {
            color: $black;
        }
        
        @media (max-width: $screen_small) {
            display: none;
        }
    }

    .total {
        margin-left: auto;

        .subtotal {
            span {
                margin-right: $space_2;
            }

            strong {
                display: block;
                margin-left: auto;
            }
        }

        small {
            display: block;
            color: $light-grey;
        }
    }
}

.btn-cart-checkout {
    margin: auto 0 $space_2 auto;
    padding: $space_2 $space_3;
    background: $black;
    color: $white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1pt;
}

.checkout-cont {
    .btn-cart-checkout {
        margin: $space_2 auto $space_5 auto;
        width: 75%;
        text-align: center;
        padding: $space_4 $space_3;
        
        @media (min-width: $screen_medium) {
            margin-right: 0;
            max-width: 350px;
        }
    }
}