@charset "UTF-8";
@import "variables";

.sub-category-list {
  padding: 3rem 0;
  @include display_flex();

  .card {
    width: 16.66667%;
    display: block;
    margin: auto;
    padding: $space_2;

    @media (max-width: $screen_medium) {
      width: 25%;
    }

    @media (max-width: $screen_small) {
      width: 50%;
    }

    .collection-card {
      img {
        width: 100%;
        margin-bottom: $space_4;
      }

      span {
        display: block;
        text-align: center;
        color: $grey;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 12pt;
        line-height: 2;
      }
    }
  }
}

.product-list.collection {
  @include display_flex();
  flex-flow: row wrap;

  .product-slide {
    padding: $space_2 $space_1;
    width: 50%;

    @media (min-width: $screen_medium) {
      width: 33.333332%;
    }

    @media (min-width: $screen_large) {
      width: 25%;
    }
    
    .product-card {
      @include display_flex();
      flex-flow: column nowrap;
      position: relative;
      border: solid 1px $washed-white;
      height: 100%;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
      }
    }

    .details {
      padding: $space_2;

      .title {
        margin: 0;
        width: 100%;
        line-height: 1.5;
        font-weight: 300;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: 500;
        display: -webkit-box!important;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: normal;
        height: 3rem;
      }

      .price {
        font-size: 13pt;
        font-weight: 400;
        margin: $space_2 0 0 0;
        line-height: 1;

        ins {
          color: $black;
        }
      }

      .delivery-note {
        line-height: 1;
        display: block;
        margin-top: $space_2;
        color: $grey;
        font-weight: 300;
        font-style: italic;
      }
    }
  }
}