@charset "UTF-8";
@import "variables";

.page-wrapper {
  background: #f9f9f9;
}

.top-banner {
  position: relative;

  img, a {
    display: block;
    width: 100%;
    height: auto;
  }
}

.top-categories {
  padding: $space_5;
  position: relative;
  display: block;
  background: $white;

  .collection-card {
    position: relative;
    display: block;
    margin: 10px 0;
    text-align: center;

    &:hover {
      img {
        border-width: 0;
        @include box-shadow(0, 0, 10px, -5px, $black);
      }
    }

    h2 {
      color: $black;
      line-height: 1;
      font-weight: 400;
      padding: $space_4 0 0 0;
      font-size: 9pt;
      width: 100%;
      text-align: center;
      font-weight: 600;
      text-transform: uppercase;
    }

    img {
      @include box-shadow(0, 0, 10px, -9px, $black);
      transition: ease 0.5s;
    }
  }
}

.fw.section-container {
  padding: $space_2 0;
  margin: $space_5 0;

  .titled-section {
    padding: 0 $space_5;
  }
}

.brands-list.owl-carousel {
  .owl-item {
    padding: 0;
    @include opacity();
  }
}

.titled-section {
  background: $white;

  &.standalone {
    padding: 0 $space_4;
    @include box-shadow(0, 0, 5px, -5px, $black);
    margin: $space_5 0;
  }

  .section-title {
    padding: $space_4 0;

    .c4 {
      margin: auto 0.5rem auto auto;
    }

    a {
      color: $black;
      text-align: right;
      display: block;
      font-size: 8pt;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  .section-items {
    padding: $space_4 0;

    .owl-carousel {
      margin: 0;
      width: 100%;

      .owl-nav {
        width: 100%;

        button {
          background: transparent;
          color: $black;

          &:hover {
            background: $white;
          }
        }
      }
    }
  }
}

.new-arrivals {
  .img-top {
    display: block;
    position: relative;

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    .text {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      text-align: center;
      font-size: 56pt;
      font-weight: 100;
      color: $black;
      letter-spacing: 9pt;
      line-height: $space_3;

      strong {
        font-size: 120%;
        font-weight: 900;
        display: block;
        letter-spacing: 4pt;
        background: rgba(255,255,255,0.6);
        padding: 2.5rem;
        backdrop-filter: blur(2px);
        z-index: -1;
        position: relative;
      }

      small {
        display: block;
        margin-top: 2.5rem;
        font-size: 10pt;
        letter-spacing: 3pt;
        text-transform: lowercase;
      }
    }
  }

  .titled-section {
    margin-top: 0;
    padding-top: $space_5;
  }
}

.mid-banner {
  padding: 3rem 0;

  a {
    display: block;
    width: 100%;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.guide-section {
  margin: $space_5 0;
  padding: $space_5 0;

  .row {
    width: 100%;
    margin: 0;

    .c4 {
      padding: $space_1 0;
    }
  }

  .slide-cont {
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;

    .slide, img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      transition: ease 0.3s;
    }

    img {
      z-index: 0;
    }

    .slide {
      z-index: 5;
    }

    &.hover-effect:hover {
      .slide {
        background: rgba(0,0,0,0.3);
        backdrop-filter: blur(2px);
      }
    }
  }

  .guide-slide {
    @include display_flex();
    @include flex-flow(column nowrap);
    @include justify-content(space-between);

    .guide-title {
      margin: auto;
      color: $white;
      text-align: center;
      line-height: 90%;

      h3 {
        margin: $space_4 0;
      }

      span {
        display: block;
        font-weight: 900;
        font-size: 25pt;
        line-height: 4rem;
      }
    }
  }

  ul {
    list-style: none;
    @include display_flex();
    @include flex-flow(row nowrap);
    @include justify-content(space-between);
    background: $black;
    padding: 0;
    margin: $space_4;

    li {
      text-align: center;
      padding: $space_2;
      width: 33%;

      a {
        text-decoration: none;
        color: $white;
        font-size: 9pt;
        @include opacity();
      }
    }
  }
}