@charset 'UTF-8';

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot');
  src:  url('../fonts/icomoon.eot') format('embedded-opentype'),
  url('../fonts/icomoon.ttf') format('truetype'),
  url('../fonts/icomoon.woff') format('woff'),
  url('../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  vertical-align: middle;
  display: inline-block;
}

.icon-arrow-left:before {
  content: "\e904";
}
.icon-arrow-right:before {
  content: "\e905";
}
.icon-chevron-left:before {
  content: "\e90b";
}
.icon-chevron-right:before {
  content: "\e90c";
}
.icon-info:before {
  content: "\e90d";
}
.icon-mail:before {
  content: "\e910";
}
.icon-map-pin:before {
  content: "\e90e";
}
.icon-phone:before {
  content: "\e90f";
}
.icon-burger-bar:before {
  content: "\e902";
}
.icon-credit-cards-payment:before {
  content: "\e903";
}
.icon-delivery-van:before {
  content: "\e90a";
}
.icon-facebook:before {
  content: "\e909";
}
.icon-instagram:before {
  content: "\e906";
}
.icon-refund:before {
  content: "\e907";
}
.icon-whatsapp:before {
  content: "\e908";
}
.icon-search:before {
  content: "\e900";
}
.icon-shopping-bag:before {
  content: "\e901";
}