.page-not-found {
  text-align: center;
  padding: $space_5;
  margin: auto;

  h1 {
    color: $black;
  }

  h2 {
    color: $dark-grey;
  }

  p {
    color: $light-grey;
    margin-bottom: $space_5;
    padding-bottom: $space_4;
  }

  a {
    background: $black;
    padding: $space_2 $space_4;
    color: $white;
  }
}