@charset "UTF-8";
@import "variables";

.page-wrapper.product {
  background: $white;
}

.product-top {
  padding: $space_4 0;

  .gallery {
    overflow-y: hidden;
    padding-bottom: 3rem;
    position: relative;

    .text-center {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: block;
    }

    img {
      width: 100%;
      height: auto;
    }

    .images {
      width: 80%;
      flex-basis: 80%;
      flex: 1;
    }

    .thumbnails {
      overflow-y: scroll;
      flex-basis: 75;
      width: 75px;
      margin-right: $space_3;

      img {
        border: solid 1px $washed-white;
        @include border_radius($space_1);
        cursor: pointer;

        &:hover {
          border-color: $dark-grey;
        }

        &.active {
          border-color: $black;
        }
      }
    }

    @media (max-width: $screen_medium){
      flex-flow: column nowrap;
      padding-bottom: 0;

      .thumbnails {
        height: auto;
        overflow-y: visible;
        order: 2;
        @include flex-flow(row wrap);
        width: calc(100% + 0.5rem);
        margin: 0.5rem -0.25rem 0 -0.25rem;

        picture {
          width: 20%;
          display: block;
          padding: 0.25rem;
        }

        img {
          height: auto;
          width: auto;
          max-width: 100%;
        }
      }

      .images {
        width: 100%;
        flex-basis: 100%;
      }

      .text-center {
        display: none;
      }
    }
  }

  .details {
    h1 {
      line-height: 1;
    }

    .price {
      ins {
        font-size: 16pt;
      }
    }

    #price-form {
      .price {
        margin-top: $space_4;
      }

      .variant {
        margin-top: $space_4;

        label {
          display: block;
          margin: auto 1rem auto 0;
          width: 5rem;
          line-height: 1;
          font-size: 10pt;
        }

        .select-box {
          flex: 1;
          border-bottom: solid 1px $light-grey;
          margin: auto 0;
        }

        select {
          padding: $space_1 $space_5 $space_1 $space_1;
          font-size: 12pt;
          width: 100%;
        }
      }
    }

    .in-stock {
      color: $green;
    }

    .out-of-stock {
      color: $light-grey;
    }

    .info-panel {
      padding: $space_2 $space_4;
      border: solid 1px $washed-white;
      @include border_radius($space_1);

      .price {
        margin-bottom: $space_2;
      }
    }

    .summary {
      color: $grey;
      margin-top: $space_5;
    }

    .rating {
      margin-top: $space_1;
    }

    .metadata-list {
      border: 0;

      th, td {
        text-align: left;
      }

      td {
        padding-left: $space_2;
        width: 60%;
      }

      &.mobile {
        display: none;
        border-top: solid 2px $washed-white;
        padding-top: $space_4;
      }
    }

    .qty {
      width: 100%;
      margin: $space_5 0;

      label {
        font-size: 10pt;
        display: block;
        margin: auto $space_2 auto 0;
      }

      input {
        border: solid 1px $light-grey;
        padding: $space_1 $space_2;
        width: 100%;
        flex: 1;
      }
    }

    .add-cart-btn, .buy-now-btn {
      display: block;
      margin-bottom: $space_2;
      padding: $space_2 $space_4;
      width: 100%;
      background: $dark-grey;
      color: $white;
      font-weight: 600;
      text-align: center;
    }

    .delivery-info {
      line-height: 1.25;
      margin-top: $space_2;
      font-size: 90%;
      font-style: italic;
      font-weight: 900;
      color: $black;
    }

    .buy-now-btn {
      margin-bottom: 0;
      background: $red;
      margin-bottom: 0;
      text-transform: uppercase;
      font-size: 14pt;
      font-weight: 700;
      letter-spacing: 0.5pt;
      @include border-radius($space_1);
    }

    .trust-info {
      margin: $space_4 0 $space_2 0;
      border-top: solid 1px $light-grey;
      padding-top: $space_2;
      font-size: 10pt;

      a {
        display: block;
        margin: $space_2 0;
        font-weight: 600;
        color: $text-color;

        @include opacity();
      }
    }

    @media (max-width: $screen_large) {
      .summary {
        margin-top: $space_2;
      }

      #price-form .variants {
        margin-bottom: $space_5;
      }

      .info-panel {
        padding: 0;
        border: 0;
        border-top: solid 2px $washed-white;
        margin-top: $space_2;
        padding-top: $space_2;
        @include border_radius(0);

        .price {
          display: none;
        }

        .trust-info {
          flex-flow: row nowrap;
          @include display_flex();
          justify-content: space-between;
          border-top: solid 2px $washed-white;

          a:first-child {
            margin-right: $space_4;
          }
        }
      }

      .metadata-list {
        display: none;

        &.mobile {
          display: block;
        }
      }
    }
  }
}

.vendor-info {
  font-size: 90%;
  margin: 0;
  border-top: solid 1px $grey;
  margin-top: $space_4;
  padding-top: $space_2;
  letter-spacing: -0.2pt;
  color: $grey;

  a {
    color: $grey;
    text-decoration: none;
  }

  .icon-info:before {
    margin-top: -2px;
    position: relative;
    display: block;
  }
}

.reviews-section {
  padding: 2rem  0;

  .title {
    font-size: 16pt;
    display: block;
    color: $dark-grey;
  }

  .sub-title {
    display: block;
    margin-bottom: $space_5;
  }

  #product-reviews {
    input, textarea {
      font-family: inherit;
    }

    .review-form-group {
      button {
        display: block;
        @include border_radius($space_2);
        padding: $space_2 $space_4;
        background: $black;
        color: $white;
        font-weight: 600;
        text-align: center;
      }
    }
  }

  .reviews {
    max-height: 400px !important;

    .review {
      border-bottom: solid 1px $washed-white;
      padding-bottom: $space_4;
      margin-bottom: $space_4;
    }
  }
}