@charset "UTF-8";
@import "variables";

.profile-sidebar {
  padding: $space_5;

  .loyalty-points {
    small {
      display: block;
      color: $grey;
    }
  }

  .sidebar-menu {
    list-style: none;
    padding: 0;
    @include display_flex();

    li {
      display: block;
      text-align: center;
      padding: $space_2 0;
      margin: auto;

      a {
        font-weight: 600;
        color: $text-color;
        text-decoration: none;
        text-transform: uppercase;

        &.active {
          color: $black;
        }

        &:hover:not(.active) {
          color: $black;
        }
      }
    }

    @media (min-width: $screen_medium) {
      display: block;

      li {
        width: 100%;
        text-align: left;
      }
    }
  }
}

.profile-content {
  @media (min-width: $screen_medium) {
    padding: $space_5;
  }

  .header {
    @include display_flex();

    .header-action {
      text-align: right;
      margin-left: auto;
      @include display_flex();

      a {
        color: $grey;
        display: block;
        margin: auto 0;

        &:hover {
          color: $black;
        }
      }
    }
  }

  form {
    margin: $space_4 auto;
    width: 100%;
    max-width: 100%;

    .form-controls {
      @include display_flex();
      margin-top: $space_5;

      .btn-submit {
        margin-right: auto;
      }

      .btn-link {
        text-align: right;
        margin-left: auto;
        margin-right: 0;
      }
    }
  }

  .list-group {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      border-top: solid 1px $washed-white;
      padding: $space_4;
      @include display_flex();

      &:first-child {
        border-color: transparent;
      }

      .item-title a {
        color: $text-color;
        font-weight: 600;
      }

      .buttons {
        margin-left: auto;

        a {
          color: $grey;

          &:hover {
            color: black;
          }
        }
      }
    }
  }

  .shipping-addresses-list, .order-history {
    width: 100%;
    max-width: 100%;
    margin: $space_4 auto;
    background: $white;
    border: solid 1px $washed-white;
    @include box-shadow(0, 0, 15px, -15px, $black);
  }

  .orders-table {
    width: 100%;

    .reorder, .view {
      transition: ease 0.3s;
      color: $dark-red;
      font-weight: 600;
      font-size: 90%;

      &:last-child {
        margin-left: $space_2;
      }

      &:hover {
        color: $dark-grey;
      }
    }

    thead {
      th {
        padding: $space_2;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        border-bottom: solid 1px $grey;
      }
    }

    tbody {
      td {
        padding: $space_2;
        text-align: center;
        border-bottom: solid 1px $grey;
      }

      tr:last-child {
        td {
          border-bottom: none;
        }
      }
    }
  }
}