.rating-stars-0 {
  background: url("../icons/stars0.svg") no-repeat center center;
}

.rating-stars-1 {
  background: url("../icons/stars1.svg") no-repeat center center;
}

.rating-stars-2 {
  background: url("../icons/stars2.svg") no-repeat center center;
}

.rating-stars-3 {
  background: url("../icons/stars3.svg") no-repeat center center;
}

.rating-stars-4 {
  background: url("../icons/stars4.svg") no-repeat center center;
}

.rating-stars-5 {
  background: url("../icons/stars5.svg") no-repeat center center;
}