@charset 'UTF-8';
@import "variables";

select, input, textarea, button {
  border: 0;
  margin: 0;
  min-height: 1.5rem;
  outline: none;

  &::placeholder {
    color: $light-grey;
  }
}

*, ::after, ::before {
  box-sizing: inherit;
}

table {
  border-spacing: 0;
}

button {
  font-size: inherit;
  line-height: inherit;
}

textarea {
  resize: vertical;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 2em;
  color: $dark-grey;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

p {
  display: block;
}

.text-center {
  text-align: center;
}

.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.row {
  @include display_flex();
  @include flex-flow(row wrap);

  &.nw {
    @include flex-flow(row nowrap);
  }

  &.responsive {
    width: 100%;

    .c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12 {
      width: 100%;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
    
    @media (max-width: $screen_medium) {
      .c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12 {
        &.no-gutters {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
    
    @media (min-width: $screen_medium) {
      .c1.m { width: 8.333334%; }
      .c2.m { width: 16.66667%; }
      .c3.m { width: 25%; }
      .c4.m { width: 33.33336%; }
      .c5.m { width: 41.66667%; }
      .c6.m { width: 50%; }
      .c7.m { width: 58.33334%; }
      .c8.m { width: 66.66667%; }
      .c9.m { width: 75%; }
      .c10.m { width: 83.33334%; }
      .c11.m { width: 91.66667%; }
      .c12.m { width: 100%; }

      width: calc(100% + 1rem);
      margin: 0 -0.5rem;
    }

    @media (min-width: $screen_large) {
      .c1 { width: 8.333334%; }
      .c2 { width: 16.66667%; }
      .c3 { width: 25%; }
      .c4 { width: 33.33336%; }
      .c5 { width: 41.66667%; }
      .c6 { width: 50%; }
      .c7 { width: 58.33334%; }
      .c8 { width: 66.66667%; }
      .c9 { width: 75%; }
      .c10 { width: 83.33334%; }
      .c11 { width: 91.66667%; }
      .c12 { width: 100%; }

      width: calc(100% + 1rem);
      margin: 0 -0.5rem;
    }
  }
}

.column {
  @include display_flex();
  @include flex-flow(column nowrap);
}

.container {
  @media (min-width: $screen_large) {
    max-width: 90%;
    display: block;
    margin: auto;
  }
}

.owl-carousel {
  display: block !important;
}

.owl-carousel .slide-owl-wrap:not(:first-child) {
  display: none;
}

.owl-carousel img {
  width: 100%;
}