$red: #d00a3e;
$dark-red: #b80b38;
$text-color: #474747;
$white: #FFF;
$black: #000;
$grey: #777;
$dark-grey: #232323;
$light-grey: #999;
$lighter-grey: #edeef1;
$washed-white: #F3F3F3;
$green: #1d8617;
$dark-green: #187713;

$space_1: 0.25rem;
$space_2: 0.5rem;
$space_3: 0.75rem;
$space_4: 1rem;
$space_5: 1.5rem;

$screen_xs: 280px;
$screen_small: 452px;
$screen_medium: 768px;
$screen_large: 1024px;

@mixin opacity() {
  transition: ease 0.3s;

  @media (hover: hover) {
    opacity: 0.75;

    &:hover {
      opacity: 1;
    }
  }
}

@mixin border-radius($tl, $tr: '-', $br: '-', $bl: '-') {
  @if $tr == '-' {$tr: $tl;}
  @if $br == '-' {$br: $tl;}
  @if $bl == '-' {$bl: $tl;}

  -webkit-border-radius: $tl $tr $br $bl;
  -moz-border-radius: $tl $tr $br $bl;
  border-radius: $tl $tr $br $bl;
}

@mixin box-shadow($o_x, $o_y, $blur:0, $spread:0, $color:#000) {
  -moz-box-shadow:    $o_x $o_y $blur $spread $color;
  -webkit-box-shadow: $o_x $o_y $blur $spread $color;
  box-shadow: $o_x $o_y $blur $spread $color;
}

@mixin display_flex() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-flow($values: (row nowrap)) {
  // No Webkit/FF Box fallback.
  -webkit-flex-flow: $values;
  -ms-flex-flow: $values;
  flex-flow: $values;
}

@mixin justify-content($value: flex-start) {
  @if $value == flex-start {
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
  } @else if $value == flex-end {
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
  } @else if $value == space-between {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
  } @else if $value == space-around {
    -ms-flex-pack: distribute;
  } @else {
    -webkit-box-pack: $value;
    -moz-box-pack: $value;
    -ms-flex-pack: $value;
  }
  -webkit-justify-content: $value;
  justify-content: $value;
}