@charset 'UTF-8';

@import "variables";
@import "icons";
@import "rating";
@import "forms";

a {
  text-decoration: none;
}

strong, b, th {
  font-weight: 600;
}

.bg-white {
  background: $white !important;
}

.bg-dark {
  background: $black !important;
}

.mt-1 {
  margin-top: $space_1;
}

.fw {
  margin-left: -$space_2 !important;
  width: calc(100% + 1rem) !important;

  @media (min-width: $screen_large) {
    margin-left: -$space_4 !important;
    width: calc(100% + 2rem) !important;
  }
}

.circle {
  @include border-radius(50%);
}

.main-menu-mobile {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  opacity: 0;
  height: 100vh;
  width: 60vw;
  background: $dark-grey;
  z-index: 900;
  overflow-y: scroll;
  @include box-shadow(0, 0, 80px, -20px, $black);
  transition: ease 0.3s;

  &.show {
    opacity: 1;
    right: 0;
  }

  .close-btn {
    text-align: right;
    color: $white;
    width: 100%;
    display: block;
    padding: $space_2 $space_4;
    font-size: 20pt;
  }

  ul {
    li {
      width: 100%;
      padding: $space_3 $space_4 !important;
      border-top: solid 1px $grey;
      text-align: left;
    }
  }
}

.top-header {
  background: $washed-white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 100;

  #search-form {
    background: $white;

    select {
      color: $dark-grey;
    }

    input {
      background: $white;
      @include border_radius($space_1);
    }

    button {
      background: none;
      padding: $space_2 $space_4;
      font-size: 18pt;
      line-height: 1.25;
      @include opacity();

      i {
        vertical-align: top;
        margin-top: 1px;
      }
    }
  }

  #suggestion-box {
    background: $white;
    border: solid 1px $washed-white;
    margin-top: 2px;
    @include border_radius($space_1);
    z-index: 100;

    a {
      color: $text-color;
      font-size: 90%;

      strong {
        color: $black;
      }

      i {
        color: $grey;
      }
    }
  }

  .right-buttons {
    @include display_flex();

    a {
      width: 70px;
      color: $black;
    }

    .cart-indicator {
      color: $text-color;
      background: $white;
    }
  }

  .mobile-menu-btn {
    display: block !important;

    @media (min-width: $screen_medium) {
      display: none !important;
    }
  }
}

.main-menu {
  padding-top: 80px;
  background: $dark-grey;

  @media (max-width: $screen_medium) {
    display: none;
  }
}

.main-menu, .main-menu-mobile {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: $space_3 $space_2;
      margin: auto;

      a {
        color: $white;
        font-weight: 600;
      }
    }
  }
}

.sub-header {
  background: $white;
  position: relative;
  z-index: 1;

  .c4 {
    width: 33.33334%;
    text-align: center;
    padding: $space_3;
    line-height: 1;

    @media (max-width:$screen_medium) {
      display: none;
    }

    strong {
      color: $black;
      text-transform: uppercase;
      display: block;
      margin-bottom: $space_2;
    }

    small {
      display: block;
      color: $light-grey;
      text-align: center;
    }
  }
}

.page-wrapper {
  padding: 0 $space_2;
  position: relative;
  
  @media (min-width: $screen_large) {
    padding: 0 $space_4;
  }
  
  @media (max-width: $screen_medium) {
    padding-top: 80px;
  }
}

.price {
  ins {
    text-decoration: none;
    color: $dark-grey;
  }

  del {
    margin: auto 0 auto $space_2;
    color: $light-grey;
  }
}

.rating {
  &.no-ratings {
    opacity: 0.6;
  }

  i {
    width: 85px;
    height: 17px;
    display: block;
    margin: auto 0;
  }

  span {
    font-size: 8pt;
    line-height: 8pt;
    display: block;
    margin: auto 0.5rem;
    color: $text-color;
  }

  @media (max-width: $screen_medium) {
    span {
      display: none;
    }
  }
}

.section-title {
  font-size: 14pt;
  display: block;
  padding: $space_4 0;
  font-weight: 600;
  color: $black;
  line-height: 1.2;

    small {
      display: block;
      font-weight: 300;
      color: $grey;
      font-size: 60%;
      margin-top: 0.25rem;
    }
}

.suggestions {
  margin: $space_5 0;
}

.product-card {
  display: block;
  color: $text-color;
  background: $white;
  position: relative;

  .title {
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    height: 2.5em;
    font-size: 1em;
    line-height: 1.25em;
    margin: $space_2 0;
  }

  .price {
    color: $black;
    font-size: 12pt;
    margin-top: $space_2;
    display: block;
  }

  img {
    width: 100%;
    height: auto;
  }

  &.discount-card {
    .price {
      text-align: center;

      del {
        font-size: 10pt;
        margin: auto 0;
      }

      ins {
        font-size: 24pt;

        .sign {
          top: -0.7em;
        }

        .cents {
          top: -1em;
        }
      }
    }

    small {
      color: $light-grey;
    }
  }
}

.carousel {
  &.owl-carousel {
    position: relative;
  }

  .owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24pt;
    color: $white;
    width: calc(100% + 1.5rem);

    button {
      background: $black;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 24pt;
      left: 0;
      transition: ease 0.3s;
      padding: 1rem;
      line-height: 0;
      color: $white;

      &.owl-prev {
        left: 0;
        right: auto;
        @include border_radius(0, $space_1, $space_1, 0);
      }

      &.owl-next {
        left: auto;
        right: 0;
        @include border_radius($space_1, 0, 0, $space_1);
      }

      &.disabled {
        opacity: 0;
      }
    }
  }

  .owl-item {
    padding: 0 $space_2;
  }
}

.search-results {
  .product-card{
    .title {
      margin-bottom: $space_2;
      
      @media (max-width: $screen_medium) {
        margin-bottom: $space_1;
      }
    }

    .image {
      .best-seller-badge {
        position: absolute;
        top: $space_4;
        left: $space_2;
        margin: 0;
        line-height: 1;

        strong {
          padding: $space_2 $space_3;
          margin: 0;
        }
      }
    }
  }

  .details {
    @media (max-width: $screen_medium) {
      padding: $space_2 $space_4;
      @include display_flex();
      flex-flow: column wrap;
      justify-content: space-evenly;
    }

    .rating {
      @media (max-width: $screen_medium) {
        margin: 0 0 $space_2;
      }
    }
  }
}

.product-bagdes {
  @media (max-width: $screen_large) {
    @include display_flex();
    @include flex-flow(row nowrap);
    @include justify-content(space-between);
  }
}

.best-seller-badge, .free-delivery-badge{
  margin-top: 0.5rem;
  display: block;
  line-height: 2;
  font-size: 9pt;

  strong {
    padding: $space_1 $space_2 0.3rem;
    background: $black;
    color: $white;
    font-weight: 500;
    margin-right: $space_1;
    @include border_radius($space_1, 0, 0, $space_1);
  }

  a {
    color: $black;
  }
}

.free-delivery-badge {
  strong {
    background: $green;
  }
}

.owl-carousel.carousel {
  .owl-item {
    img {
      height: auto;
    }
  }
}

.product-card {
  .title {
    font-weight: 500;
    color: $text-color;
    display: block;
    margin-top: $space_1;
  }

  .price {
    margin-top: $space_1;

    ins {
      position: relative;
      font-weight: 500;
      font-size: 16pt;

      .amt {
        letter-spacing: 1px;
      }

      .sign {
        font-size: 12pt;
        top: -0.2em;
        position: relative;
        padding-right: 2px;
        font-weight: 300;
      }

      .cents {
        font-size: 10pt;
        top: -0.35em;
        position: relative;
        padding-left: 1px;
        font-weight: 300;
      }
    }
  }

  .badge {
    position: absolute;
    top: $space_2;
    right: $space_2;
    padding: $space_2;
    background: $green;
    color: $white;
    font-weight: 600;
    font-size: 9pt;

    &.best-seller {
      top: 0;
      left: 0;
      right: auto;
      background: $dark-grey;
      padding: $space_1 $space_2;
      text-transform: uppercase;

      &:after {
        content: "";
        border-right: 1rem solid transparent;
        border-top: 1.66rem solid $dark-grey;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        background: transparent;
        top: 0;
        right: -0.99rem;
        z-index: 4;
      }
    }
  }
}

.pagination {
  margin: $space_5 0;

  ul {
    @include display_flex();
    margin: 0;
    list-style: none;
    justify-content: end;

    li {
      margin: 0 $space_1;

      &:first-child {
        margin-left: auto;
      }

      &:last-child {
        margin-right: 0;
      }

      a {
        padding: $space_2 0.4rem;
        font-size: 90%;
        font-weight: bold;
        color: $text-color;
        text-transform: uppercase;
        text-align: center;

        &:hover, &.active {
          color: $black;
        }
      }
    }
  }
}

.no-results {
  margin: $space_5 0;

  h2 {
    color: $dark-grey;
  }

  h3 {
    color: $black;
    margin-top: $space_5;
  }
}

.filter-actions {
  padding: $space_4 $space_2 $space_1;

  .filter-btn {
    border: solid 2px $black;
    color: $black;
    background: $white;
    text-transform: uppercase;
    font-weight: 600;
    padding: $space_2 $space_4;
    margin-right: $space_4;

    @media (min-width: $screen_large) {
      display: none;
    }
  }

  .search-term {
    line-height: 2.25rem;
    display: none;

    small {
      color: $light-grey;
    }

    strong {
      color: $black;
      font-style: italic;
      padding-left: $space_2;
    }
    
    @media (min-width: $screen_medium) {
      display: block;
    }
  }

  .filter-list {
    border: none;
    background: none;
    color: $text-color;
    padding: $space_2;
    margin-left: auto;
  }
}

.search-sidebar {
  .close-sidebar {
    position: fixed;
    right: $space_5;
    top: $space_4;
    color: $light-grey;
    font-size: 24pt;
    font-weight: 100;
    z-index: 999;

    @media (min-width: $screen_large) {
      display: none;
    }
  }

  @media (max-width: $screen_large) {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: rgba(0,0,0,0);
    overflow-y: scroll;
    padding: 0 !important;
    z-index: -100;
    transition: ease 0.3s;
    opacity: 0;
    backdrop-filter: blur(2px);

    form {
      width: 80%;
      background: $white;
      padding: $space_5;
      min-height: 100%;
      margin-left: -150%;
      transition: ease 0.5s;
    }

    &.open {
      opacity: 1;
      left: 0;
      background: rgba(0,0,0,0.7);
      z-index: 999;

      form {
        margin-left: 0;
      }
    }
  }
}

.search-filter {
  margin: $space_2 0;
  padding: $space_2 $space_3;
  font-size: 10pt;
  border: solid 1px $lighter-grey;
  background: $white;

  &.open {
    h3:after {
      content: "-";
    }

    ul {
      height: auto;
      margin-top: $space_4;
    }
  }

  &:last-child {
    border: 0;
  }

  h3 {
    color: $black;
    font-size: 10pt;
    position: relative;
    font-weight: 500;

    &:after {
      position: absolute;
      right: 0;
      cursor: pointer;
      content: "+";
      font-size: 12pt;
      line-height: 1;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 0;
    overflow: hidden;
    transition: ease 0.5s;

    li:last-child {
      label, a {
        margin-bottom: $space_2;
      }
    }
  }

  li a {
    @include display_flex();
    margin-bottom: $space_2;

    span {
      display: block;
      margin: auto $space_2;
      width: 100%;
      font-weight: 300;
      color: $text-color;
      line-height: 1;
    }

    &:hover {
      span {
        color: $black;
        font-weight: 500;
      }
    }
  }

  label {
    @include display_flex();
    line-height: 1;
    margin-bottom: $space_3;

    input[type="checkbox"] {
      width: 10pt;
      height: 10pt;
      min-height: 10pt;
      background-color: $white;
      vertical-align: middle;
      border: 1px solid $washed-white;
      appearance: none;
      -webkit-appearance: none;
      outline: none;
      cursor: pointer;
      margin-right: $space_2;

      &:checked {
        background-color: $black;
        border: 1px solid $black;
      }
    }
  }

  .clear {
    @include opacity();
    color: $dark-grey;
    text-transform: uppercase;
    font-size: 8pt;
    font-weight: 600;
  }

  .filter-items.ratings {
    .rating {
      opacity: 0.7;
    }

    label:hover {
      cursor: pointer;

      .rating {
        opacity: 1;
      }
    }

    input[type="radio"] {
      display: none;

      &:checked + .rating {
        opacity: 1;

        span {
          font-weight: 600;
        }
      }
    }
  }

  &.price-range .filter-items {
    a:not(.clear){
      color: $black;
      line-height: 1;
      margin-bottom: $space_3;
      @include opacity();
    }
  }
}

footer {
  background: $black;
  font-size: 10pt;
  color: $white;

  .icons {
    background: $white;
    border-top: solid 1px $washed-white;

    .social-icons {
      @include display_flex();
      @include justify-content(center);
      
      @media (min-width: $screen_medium) {
        @include justify-content(left);
      }
    }

    .container {
      padding: 0;
    }

    a {
      color: $black;
      margin: auto 0;
      font-size: 14pt;
      padding: $space_3;
    }

    .pay-methods {
      width: 100%;
      max-width: 350px;
      height: auto;

      @media (min-width: $screen_medium) {
        display: block;
        margin-left: auto;
      }
    }
  }

  .container {
    padding: $space_5 0;
  }

  ul {
    list-style: none;
    margin: 0 0 $space_4 0;
    padding: 0;
  }

  .ft {
    background: $black;
    color: $white;
    text-transform: uppercase;
    font-weight: 100;
    text-align: center;
    padding: $space_4;
    font-size: 9pt;
    letter-spacing: 2pt;
  }

  .btt {
    background: rgba(255, 255, 255, 0.15);
    text-align: center;
    padding: $space_4;
    display: block;
  }

  .title {
    font-weight: 900;
    line-height: 2;
    text-transform: uppercase;
  }

  a {
    color: $white;
    opacity: 0.8;
    text-decoration: none;
    line-height: 1.5;

    &:hover {
      opacity: 1;
    }
  }

  .copyright {
    text-align: center;
    font-size: 9pt;
    line-height: 1.25;
    padding: $space_4;
    opacity: 0.8;
    background: rgba(0, 0, 0, 0.3);
  }
}

.breadcrumbs {
  background: $white;
  padding: $space_3 $space_5;
  margin: $space_4 0 0 0;
  border: solid 1px $lighter-grey;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    @include display_flex();

    li {
      margin-right: $space_2;
      color: $grey;

      a {
        color: $black;
        font-weight: 500;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

#age-verify {
  strong {
    font-weight: 900;
    display: block;
    text-align: center;
    font-size: 24pt;
    color: $black;
    margin-bottom: $space_4;
  }

  small {
    color: $grey;
    display: block;
    text-align: center;
  }

  .actions {
    margin-top: $space_4;
  }

  .btn {
    background: $black;
    color: $white;
    padding: $space_2 $space_4;
    margin: $space_2;
    text-align: center;

    &.close {
      background: $green;
    }
  }
}

.lightbox {
  opacity: 0;
  z-index: -100;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.5);
  backdrop-filter: blur(5px);
  transition: ease 0.2s;

  &.show {
    opacity: 1;
    z-index: 100;

    .content {
      opacity: 1;
    }
  }

  .close-btn {
    position: absolute;
    top: $space_2;
    right: $space_4;
    font-size: 1.5rem;
    font-weight: 400;
    color: $black;
    cursor: pointer;
    font-weight: 100;
  }

  .content {
    position: absolute;
    transition: ease 0.5s;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: $space_4;
    background: $white;
    height: auto;
    width: 95%;
    max-width: $screen_large;
    @include box-shadow(0, 0, $space_5, -$space_3, $dark-grey);
    color: $black;

    h2 {
      color: $black;
      text-transform: uppercase;
    }

    small {
      color: $grey;
    }

    .lightbox-image {
      width: 57.5%;
      @include display_flex();
      flex: 1 0 57.5%;
      margin-right: 2.5%;
      border-right: solid 1px $washed-white;
      padding-right: 1%;

      picture {
        margin: auto;
      }

      img {
        max-width: 100%;
        max-height: 85vh;
        margin: auto;
      }
    }

    .right {
      width: 40%;
      margin: auto 0;
      flex: 0 1 40%;

      h2 {
        margin-top: auto;
        margin-bottom: 0;
        font-weight: 600;
        letter-spacing: 1px;
        color: $dark-grey;
      }

      p {
        line-height: 1.2;
      }

      small {
        color: $light-grey;
        font-weight: 300;
      }
    }

    .lightbox-thumbnails {
      margin: 1rem auto auto;

      img {
        width: 98%;
        max-width: 65px;
        margin: auto 0.25rem;
        border: solid 1px $washed-white;
        @include border_radius($space_1);
        cursor: pointer;

        &.active {
          border-color: $black;
        }
      }
    }
  }

  @media (max-width: $screen_medium) {
    &:not(.ad) {
      display: none !important;
    }
  }
}

@import "home";
@import "product";
@import "collection";
@import "profile";
@import "cart";
@import "contact";
@import "page-not-found";
@import "blog";